# 1. HTML 보고서 및 모든 HTML 파일 제외
*.html

# 2. 모든 폴더 내의 dataset 폴더와 그 내용 제외
**/dataset/

# 3. 데이터 및 압축 파일 제외
*.csv
*.zip
*.7z
*.rar
*.tar
*.gz

# 4. 딥러닝 모델 및 케라스 파일 제외
*.h5
*.keras
*.model
*.weights
*.pkl

# 5. 이미지 파일 제외
*.png
*.jpg
*.jpeg
*.gif

# 6. 가상환경 및 캐시 제외
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

khj_1pro/flower_dataset/flower_photos.tgz

LICENSE.txt
khj_1pro/flower_dataset/flower_photos/
ex/dl22.ipynb

